
@{
        Layout = "_LayoutCadastro";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadra+</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <form>
            <img src="imagens/QuadraMais.png" alt="Logo Quadra+">
            <h1>Bem vindo!</h1>

            <a class="botao botao1" type="button" asp-controller="Cadastro" asp-action="Login">Login</a>
            <button class="botao botao1">Cadastro</button>

            <button class="botao botao2">Sair</button>
        </form>
    </div>
</body>
</html>