@{
    Layout = "_LayoutCadastro";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Quadra+</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="formulario">
            <form>
                <label for="email">CPF:</label>
                <input type="text" id="cpf" name="cpf" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit" class="btn-entrar">Entrar</button>
            </form>
        </div>

        <div class="logo">
            <img src="imagens/QuadraMais.png" alt="Logo Quadra+">
        </div>
    </div>

    <a href="index.html" class="sair">✖ Sair</a>
</body>
</html>
