body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
form {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 120px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #57a285;
  }
  
img {
    display: block;
    margin: 0 auto 10px auto;
    width: 200px;
    height: auto;
  }
  

h1 {
    text-align: center;
    color: #000;
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  .botao {
    width: 100%;
    padding: 12px;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    margin: 8px 0;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .botao1 {
    background-color: #57a285;
    color: white;
  }
  
  .botao1:hover {
    background-color: #4a8d73;
  }
  
  .botao2 {
    background-color: #d61e1e;
    color: white;
    margin-top: 30px;
    width: 60%;
    font-size: 1.5em;
  }
  
  .botao2:hover {
    background-color: #b81717;
  }
  
  /* Responsividade */
  @media (max-width: 480px) {
    form {
      width: 90%;
    }
  }
  